@page "/aboutrazor.html"
@model ASP.NETMVC.Pages.RazorModel
@{
    Layout = "_Layout";
}
<h1>Gioi thiệu về Razor</h1>
<p>Razor la mot template engine trong .Net no la TEMPLATE ENGINE mac dinh cua ASP.NET MVC co chuc nang render dung HTML</p>