@{ 
    ViewData["Title"] = "Delete DB";
}

<h1> ViewData["Title"]</h1>
<p class="alert alert-danger">Are You Sure Delete ?</p>
<form method="post">
    <button type="submit" class="btn btn-danger"> Delete DB</button>
    <hr />
    <a asp-action="Index"> Manage DB</a>
</form>